.cartType {
  text-transform: lowercase;
}

.cartType::first-letter {
  text-transform: uppercase;
}

.table thead th {
  font-style: normal;
  font-weight: var(--font-weight-title-medium);
  font-size: var(--font-size-body-medium);
  line-height: var(--font-line-height-body-medium);
  border-bottom: 0 none;
  border-top: none;
  text-transform: none;
  color: var(--color-base-earth-800);
  text-align: -webkit-auto;
  text-align: left;
}

.table thead th:first-child {
  width: 108px;
}

.table td {
  font-family: var(--font-family-body-medium);
  font-style: normal;
  // font-weight: normal;
  font-size: var(--font-size-body-medium);
  line-height: 21px;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th {
  font-family: var(--font-family-body-medium);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-body-medium);
  line-height: 21px;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  color: var(--color-base-earth-950);
}

.sales-area-info {
  cursor: pointer;
}

.header {
  font-weight: var(--font-weight-title-medium);
  line-height: var(--font-line-height-body-medium);
  color: var(--color-base-gray-900);
  margin-top: 50px;
}

.table {
  border-top: 1px solid var(--cx-color-light);
}

.tab {
  margin-bottom: 7px;
  display: flex;
  width: fit-content;
  background-color: #ebefee;
  padding: 4px;
  border-radius: 6px;
}

.tab button {
  border: 1px solid transparent;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
  background-color: #ebefee;
  border-radius: 0px;
  color: #595959;
}

.tab button:hover {
  background-color: #ffffff;
}

.tab button.active {
  background-color: #ffffff;
  border: 1px solid #ced7d4;
  font-weight: 600;
  color: #121212;
}

.cart-text {
  color: #02a783;
  cursor: pointer;
  font-weight: 600;
}

.cart-details-text {
  color: #595959;
  text-decoration: none;
  font-weight: 500;
}

.vector-text {
  color: #02a783;
}

.tab button.active {
  background-color: #ffffff;
  border-radius: 5px;
}

.custom-total-count {
  display: flex;
  float: right;
  position: relative;
  right: 35px;
}

.section-container {
  margin-bottom: 200px;
}

.custom-restore {
  cursor: pointer;
}
.no-orders-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  .img {
    height: 160px;
    object-fit: cover;
    width: fit-content;
  }
  h4 {
    font-weight: 600;
    padding: 20px;
  }
}
.wl-100 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.waygate-my-orders-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  .header-green-border {
    border-top: 2px solid #02a783;
    width: 60px;
  }
  h1 {
    font-size: 30px;
    font-weight: 600;
    color: #121212;
  }
}
