## messageSource=classpath:/bhgecore/messages/email-userVerification_$lang.properties
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Digital Solutions Store – Inactive User Notification</title>

    <style>

        @font-face {
            font-family: GEInspiraSans;
            src: url('$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/fonts/GEInspiraSans-Regular-v02.woff');
        }
        /*Custom Styles for OFS Email Templates */
        .container {
        width: 100%;
        margin-left: 15%;
    }

    .content {

        margin-left: 5%;
        margin-right: 20%;
        border: 1px solid #E2E2E2
    }

    .header {
        align-items: center;
    }

    .header img {
        margin-left: 36%;
    }

    p {
        font-size: 18px;
        font-family: Poppins;
        font-style: Regular;
        line-height: 24px;
    }

    h5 {
        text-align: center;
        font-size: 24px;
        color: #0C6B58;
        text-align: center;
    }

    @media only screen and (max-width: 850px) {
        p {
            font-size: 16px;
        }

        h5 {
            font-size: 18px;
        }

        .responsive {
            width: 202px;
            height: 60px;
        }

        .content {
            border: none
        }
    }

    a {
        color: teal;
    }
    </style>
</head>


<body style="font-family:GEInspiraSans; font-size: 11pt;width:550px;color: #13294b;border: solid 0.3px #979797;">

	<div class="header">
        <img src="$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/plain-banner.png" border="0" class="img-responsive heightHeader" alt="headerImage" />
    </div>
	<div class="emailBody" style="padding:14px 22px 0px 34px;">
		<div class="headerInformation" style="color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;padding-bottom:27px;letter-spacing: -0.4px;">
		    <p>${ctx.messages.salutation} ${ctx.userName},</p>
		    <p>${ctx.messages.received} - ${ctx.app}.
		    <br>
		    <p>${ctx.messages.userID} <b>${ctx.sso}</b>.</p>
		    <br>
		   	<p>${ctx.messages.please} <a href="${ctx.url}">${ctx.messages.confirm}</a> ${ctx.messages.continue}.</p>
		    <p>${ctx.messages.expires}<a href="${ctx.resendUrl}">${ctx.messages.send}</a>.</p>
		    <p>${ctx.messages.cancel} <a href="${ctx.cancelUrl}">${ctx.messages.request}.</a></p>

		    <br>
			<p>
			${ctx.messages.findHelp}
			<ui><li><a href="mailto:${ctx.supportMail}">${ctx.messages.sendEmail}</a></li></ui>
			</p>
			<br><br>
			<p>${ctx.messages.bestRegards},</p>
			<p>${ctx.messages.DSTeam}</p>
		</div>
	</div>

</body>
</html>
