<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to IQM by Baker Hughes</title>

    <style>

  
#templateHeader {
  background-color: #595194;
}
.headerContent {
  color: #ffffff;
  font-family: "GE Inspira", "ge-inspira", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  padding-top: 18px;
  padding-right: 40px;
  padding-bottom: 0;
  padding-left: 0;
  text-align: left;
}
.headerContent.logo {
  width: 96px;
  padding-left: 22px;
}
.headerContent.title {
  padding-top: 32px;
  padding-left: 40px;
}
        @font-face {
            font-family: GEInspiraSans;
            src: url('$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/fonts/GEInspiraSans-Regular-v02.woff');
        }
    </style>
</head>


<body style="color: #05322b; font-family: 'Poppins','Lucida Sans'; font-size: 11pt;width:550px;">

<div>
   <div class="_2zOpJb7ZbCN0X1DoeFyiYw JWNdg1hee9_Rz6bIGvG1c allowTextSelection">
      <div>
         <div class="rps_646e">
            <div lang="EN-US" link="#4132AB" vlink="#4132AB">
               <div class="x_WordSection1">
                  <div align="center">
                     <div class="_2Ypz6DjF0cnPXsnj_7roel" has-hovered="true">
                        <table class="container__table" role="presentation" border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="container__row">
                            <td class="container__cell" width="100%" align="left" valign="top">
                                <div class="row">
                                    <table class="row__table" width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed;">
                                        <tr class="row__row">
                                            <td class="column col-sm-12" width="1024" style="padding: 20px;width: 100%" align="left" valign="top">
                                                <a href="#" class="a" style="color: #05322b; text-decoration: none;"><span class="a__text" style="color: #05322b; text-decoration: none;"> <img src="$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/plain-banner.png" border="0" class="img-responsive heightHeader" width="1024"/></span></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
								<br>
                                <div class="heading row">
                                        <table class="row__table" width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed;">
                                          <tr class="row__row">
                                            <td class="column col-sm-12" width="1024" style="padding: 20px;width: 100%" align="left" valign="top">
                                              <h1 class="header h1" style="margin: 20px 0; line-height: 40px; font-family: 'Poppins','Lucida Sans'; text-align: left; color: #05322B; font-size: 24px; margin-left: 0; margin-top: -40px;">
                                               Welcome to IQM by Baker Hughes
                                              </h1>
                                            </td>
                                          </tr>
                                        </table>
                                </div>
                                <!-- <br /> -->
                            </td>
                        </tr>
                    </table>
                        
                     </div>
                  </div>
                  <div align="center">
                     <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; border-collapse:collapse">
                        <tbody>
                           <tr>
                              <td valign="top" style="color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;background:white; padding:0in 0in 0in 0in">
                                 <div align="center">
                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="max-width:525.0pt; border-collapse:collapse">
                                       <tbody>
                                          <tr>
                                             <td width="100%" colspan="3" valign="top" style="width:100.0%; background:white; padding:0in 0in 0in 0in"></td>
                                          </tr>
                                          <tr>
                                             <td width="13%" style="width:13.0%; background:white; padding:0in 0in 0in 0in; border-spacing:0">
                                               
                                             </td>
                                             <td width="74%" valign="top" style="">
                                                <p class="x_MsoNormal" style="margin-bottom:13.5pt; line-height:140%"><span style="font-size: 13.5pt; line-height: 140%; color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;"><br>
                                                   Hi </span><span style="font-size: 13.5pt; line-height: 140%;color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;">${ctx.userName}<span style="color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;">,
                                                   <br>
                                                   <br>
                                                   You</span> <span style="color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;">now have access to </span></span><span class="x_MsoHyperlink"><a href="https://iqm.seismic.com/" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="font-size: 13.5pt; line-height: 140%;font-family: 'Poppins','Lucida Sans'; text-align: left;">IQM
                                                   by Baker Hughes</span></a></span><span style="font-size: 13.5pt; line-height: 140%; color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;"> using the below mentioned User ID. &nbsp;Once logged in, be sure to view the recorded partner
                                                   </span><span style="font-size: 13.5pt; line-height: 140%; font-family: 'Poppins','Lucida Sans'; text-align: left;"><a href="https://iqm.seismic.com/Link/Content/DCqBxmv20CMkuNKI1TpL17iQ" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable">training session</a><span style="color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;">
                                                   and other <a href="https://iqm.seismic.com/Link/Folder/DCc5bf75" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"style=" font-family: 'Poppins','Lucida Sans'; text-align: left;">
                                                   IQM Tutorials</a> for the platform's features and functionality.&nbsp; </span></span>
                                                </p>
                                                <p class="x_MsoNormal" style="margin-bottom:13.5pt; line-height:140%"><span style="font-size: 13.5pt; line-height: 140%; color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;"">User ID/SSO:</span><span style="font-size: 13.5pt; line-height: 140%; color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;">
                                                   ${ctx.sso}<span style="style="color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;"><br>
                                                   <br>
                                                   If you need assistance <a href="mailto:IQM.byBHGE@ge.com?subject=IQM%20Assistance" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"style="font-size: 13.5pt; line-height: 140%; font-family: 'Poppins','Lucida Sans'; text-align: left;">
                                                   let us know</a>.<br>
                                                   We are looking forward to see you taking the most out of IQM! </span></span>
                                                </p>
                                             </td>
                                             <td width="13%" style="width:13.0%; background:white; padding:0in 0in 0in 0in; border-spacing:0">
                                                <p class="x_MsoNormal"><span style="font-size:1.0pt">&nbsp;</span></p>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td width="13%" style="width:13.0%; background:white; padding:0in 0in 0in 0in; border-spacing:0">
                                                <p class="x_MsoNormal"><span style="font-size:1.0pt">&nbsp;</span></p>
                                             </td>
                                             <td width="13%" style="width:13.0%; background:white; padding:0in 0in 0in 0in; border-spacing:0">
                                                <p class="x_MsoNormal"><span style="font-size:1.0pt">&nbsp;</span></p>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <p class="x_MsoNormal">&nbsp;</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="_1yuNDaQBDoy0YwHOMGXFkz"></div>
</div>



</body>
</html>