<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            color: #121212;
        }

        .container {
            margin-left: 3%;
        }

        .img-center {
            margin-left: 25%;
        }

        button {
            background-color: #02A783;
            color: #FFFFFF;
        }

        button:hover {
            color: white;
        }

        h6 {
            font-size: 18px;
            margin-bottom: 0px;
        }

        .content {
            border: 1px solid #E2E2E2;
            margin-right: 25%;
            margin-left: 15%;
            background-image: url("$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/OFS_Email_Background.png");
            background-repeat: no-repeat;
            background-position-x: 350px;
            background-position-y: 10px;
            background-size: 50%;
        }

        p {
            font-size: 18px;
            font-family: Poppins;
            font-style: Regular;
            line-height: 20x;
            color: #121212;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-right: 20px;
            margin-left: 20px;

        }

        .grid-items {
            margin-bottom: 10px;
        }

        .button {
            background-color: #02A783;
            border-radius: 4px;

            padding: 10px 22px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            margin: 2px 0px;
            cursor: pointer;
            font-family: Poppins;
            color: #FFFFFF !important;
        }

        .border-box {
            border: 1px solid #E7E7E7;
            margin: 30px;
        }

        h6 {
            color: #05322B;
        }

        h5 {
            text-align: center;
            font-size: 24px;
            color: #506C65;
        }

        .product {
            padding: 20px
        }


        @media only screen and (max-width: 850px) {
            p {
                font-size: 16px;
            }

            h5 {
                font-size: 18px;
                color: #506C65;
            }

            .responsive {
                width: 202px;
                height: 60px;
            }

            .content {
                border: none;
                background-color: #E5E5E5;
                margin-left: 5%;
            }

            .grid-container {
                background-color: white;
            }
        }
    </style>
</head>

<body>
    <div class="container" style="margin-left:5%;">
        <div class="content">
            <div class="img-center">
                <img src="$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/OFS_Email_Header.png" width="383px" height="112px"
                    class="responsive" />
            </div>
            <h5>$ctx.subject</h5>
            <div class="container" style="margin-top: 10px;">
                <h6 style="margin-top: 3%; font-size: 18px;"><strong>Dear Support team,</strong></h6>
                <p>We have got failure - Please find details below to analyze the issue.</p>
                <h6 style="margin-top: 3%; font-size: 18px;"><strong>Error message :</strong></h6>
                <p>$ctx.errorMessage.</p>
                <h6 style="margin-top: 3%; font-size: 18px;"><strong>Detailed message :</strong></h6>
                <p>$ctx.stackTraceMessage.</p>
                <div class="border-box">
                    <h6 style="margin-left: 20px;">
                        $ctx.Name
                    </h6>
                    <div class="grid-container">
                        <div class="grid-items">
                            <p style="color: #595959; font-size: 12px; font-weight: 500;">Payer ID</p>
                            <h6 style="font-size: 14px; color: #1A2321; font-weight: 400; margin: 0px;">
                                $ctx.CustID </h6>
                        </div>
                        <div class="grid-items">
                            <p style="color: #595959; font-size: 12px; font-weight: 500;">Email/Username</p>
                            <h6 style="font-size: 14px; color: #1A2321; font-weight: 400; margin: 0px;">
                                $ctx.Email </h6>
                        </div>
                    </div>
                </div>
                <p style="margin-top: 5%;">Best regards,</p>
                <p>ShopBakerHughes Support team</p>
            </div>
        </div>
    </div>
</body>

</html>