<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            color: #121212;
        }

        .container {
            margin-left: 3%;
        }

        .img-center {
            margin-left: 25%;
        }

        h6 {
            font-size: 18px;
            margin-bottom: 0px;
        }

        .content {
            border: 1px solid #E2E2E2;
            margin-right: 25%;
            margin-left: 15%;
            background-image: url("$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/OFS_Email_Background.png");
            background-position-x: 350px;
            background-repeat: no-repeat;
            background-size: 50%;
        }

        p {
            font-size: 14px;
            font-family: Poppins;
            font-style: Regular;
            line-height: 20x;
            color: #121212;
        }

        h6 {
            color: #05322B;
        }

        h5 {
            text-align: center;
            font-size: 24px;
            color: #506C65;
        }

        .button {
            background-color: #02A783;
            border: none;
            color: #FFFFFF;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
            font-weight: 600;
        }


        @media only screen and (max-width: 850px) {
            p {
                font-size: 16px;
            }

            h5 {
                font-size: 18px;
                color: #506C65;
            }

            .responsive {
                width: 202px;
                height: 60px;
            }

            .content {
                border: none;
                background-color: #E5E5E5;
                margin-left: 5%;
            }


        }
    </style>
</head>

<body>
    <div class="container" style="margin-left:5%;">
        <div class="content">
            <div class="img-center">
                <img src="$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/OFS_Email_Header.png" width="383px" height="112px"
                    class="responsive" />
            </div>
            <h5>Registration Request Approval Needed</h5>
            <div class="container" style="margin-top: 10px;">
                <h6 style="margin-top: 3%; font-size: 18px; color: #02A783; font-weight: 600;"><strong>Action
                        Required</strong></h6>
                <p style="font-size: 14px;">Requested for :<strong>${ctx.userName}</strong> </p>
                <h6 style="margin-top: 3%; font-size: 18px; color: #121212; font-weight: 600;"><strong>What happened
                        ?</strong></h6>
                <p style="font-size: 14px;">A request for ShopBakerHughes Registration was received for ${ctx.userName}.
                    Your review is needed
                    for the following request.</p>
                <p style="margin-top: 4%; font-size: 14px;">Please click below to take action :</p>
                <a href="${ctx.accessRequest}"><button class="button">Review request</button></a>

                <p style="margin-top: 5%; font-size: 14px; color: #121212;">This request is assigned to
                    <a href="mailto:${ctx.supportMail}"> shopBakerhughes.support@bakerhughes.com</a> distribution list.
                </p>
                <h6 style="margin-top: 5%; margin-bottom: 3%; font-size: 18px;"><strong>Where can I find help?</strong>
                </h6>
                <a href="mailto:${ctx.supportMail}">Send an email</a>
                <p style="margin-top: 5%;">Best regards,</p>
                <p>ShopBakerHughes Support team</p>
            </div>
        </div>
    </div>
</body>

</html>