<!DOCTYPE html>
<html>
  <head>
      <style>
      * {
	color: #05322b; 
	font-family: 'Poppins','Lucida Sans';  
	text-align: left;
   }
      </style>
  <head/>
  <body >
    <center>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable"><tbody><tr><td align="center" id="bodyCell" style="font-size: 14px;font-family: arial, sans-serif;color: #313337">
              <table border="0" cellpadding="0" cellspacing="0" style="width:600px;background-color: #ffffff;"><tr><td style="font-size: 14px;font-family: arial, sans-serif;color: #313337">
      <!-- GE logo -->
                <table>
                  <tr>
                    <td style="font-family: arial, sans-serif;color: #313337;font-size: 14px">
                      <img src="{ctx.mediaBaseUrl}/_ui/responsive/theme-lambda/images/plain-banner.png" height="80" width="1024" />
                    </td>
                  </tr>
                  </table><!-- Main content -->
                    <table style="width:100%; color: #868686; padding-right:20px;padding-left:20px;">
                      <tr><!-- <td width="20" style="font-family: arial, sans-serif;color: #313337"/> -->
                        <td style="font-family: arial, sans-serif;color: #868686;width: 100%;font-size: 14px">
                        <table style="width:97%">
                          <tr>
                            <td height="20" style="font-family: arial, sans-serif;color: #868686;font-size: 14px"/>
                          </tr>
                          <tr>
                            <td style="font-size: 14px">Dear Digital Solutions Store Support and Customer Care ,</td>
                          </tr>
                          <tr>
                            <td height="20" style="font-family: arial, sans-serif;color: #868686;font-size: 14px"/>
                          </tr>
                          <tr>
                            <td style="font-size: 14px">Below are the list of error detected within the Digital Solutions Store Hybris/SAP interface since the last time this report was provided. These errors are not catastrophic, but may be impacting the user experience. Attached is the same information in XLS format.</td>
                          </tr>
                          <tr>
                            <td height="20" style="font-family: arial, sans-serif;color: #868686;font-size: 14px"/>
                          </tr>
                          <tr>
                            <td style="font-size: 14px">Please take immediate action to investigate and reslove these issues.</td>
                          </tr>
                          <tr>
                            <td height="20" style="font-family: arial, sans-serif;color: #868686;font-size: 14px"/>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                    <td style="width: 100%;font-size: 14px">
                      <table class="xls-table" style="border: 1px solid black;background-color: #e1e2e5;width: 100%;border-collapse: collapse;font-family:'Poppins','Lucida Sans'">
                        <tr>
                          <th style="text-align: center;background-color: #028474;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family:'Poppins','Lucida Sans';color:#FFFFFF;width:15%""> Error date</th>
                          <th style="text-align: center;background-color: #028474;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family:'Poppins','Lucida Sans'; color:#FFFFFF;width:15%""> Error time</th>
                          <th style="text-align: center;background-color: #028474;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family:'Poppins','Lucida Sans';color:#FFFFFF;width:18%""> Error Category</th>
                          <th style="text-align: center;background-color: #028474;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family:'Poppins','Lucida Sans';color:#FFFFFF;width:18%""> Error Message</th>                          
                          <th style="text-align: center;background-color: #028474;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family:'Poppins','Lucida Sans';color:#FFFFFF;width:18%""> User email address</th>
                          <th style="text-align: center;background-color: #028474;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family:'Poppins','Lucida Sans'; color:#FFFFFF;width:18%""> User sold to</th>
                        </tr>
                        <tr>
		    #foreach( $entry in $ctx.gEEdgePeriodicErrorLst)
			<tr>
                          <td style="text-align: center;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family: 'Poppins','Lucida Sans'; color:#05322b;width:15%;word-break: break-all">${entry.errorDate}</td>
                          <td style="text-align: center;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family: 'Poppins','Lucida Sans'; color:#05322b;width:15%;word-break: break-all">${entry.errorTime}</td>
                          <td style="text-align: center;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family: 'Poppins','Lucida Sans'; color:#05322b;width:18%;word-break: break-all">${entry.errorCategory}</td>
                          <td style="text-align: center;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family: 'Poppins','Lucida Sans'; color:#05322b;width:18%;word-break: break-all">
								#if("$!{entry.errorMsg}" == "" )
									<p style="display:none"></p>
								#else
									${entry.errorMsg}<br/>
								#end</td>
                          <td style="text-align: center;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family: 'Poppins','Lucida Sans'; color:#05322b;width:18%;word-break: break-all">${entry.userEmail}</td>
                          <td style="text-align: center;border: 1px solid black;border-collapse: collapse;font-size: 14px;font-family: 'Poppins','Lucida Sans'; color:#05322b;width:18%;word-break: break-all">${entry.soldToId}</td>
                        </tr>
		     #end
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="20" style="font-family: 'Poppins','Lucida Sans';color: #05322b;font-size: 14px"/>
                  </tr>
                </table>
            <!--     GE Footer  GE Footer 
                <table style="width: 100%;background-color: #e1e2e5;overflow: hidden;padding: 25px;color: #313337" class="emailFooter">
                  <tr>
                    <td style="font-family: arial, sans-serif;color: #313337;font-size: 14px">
                      <span style="font-family: arial, sans-serif;color: #313337"><a href="${ctx.messages.geURL}" style="color: #313337;cursor: pointer;text-decoration: none;font-family: arial, sans-serif">BHGE Digital Solution Store</a> |</span>
                      <span style="font-family: arial, sans-serif;color: #313337"><a href="${ctx.messages.privayURL}" style="color: #313337;cursor: pointer;text-decoration: none;font-family: arial, sans-serif">Privacy Policy</a> |</span>
                      <span style="font-family: arial, sans-serif;color: #313337"><a href="${ctx.messages.termsURL}" style="color: #313337;cursor: pointer;text-decoration: none;font-family: arial, sans-serif">Terms of Use</a> |</span>
                      <span style="font-family: arial, sans-serif;color: #313337"><a href="${ctx.messages.contactusURL}" style="color: #313337;cursor: pointer;text-decoration: none;font-family: arial, sans-serif">Contact Us</a></span>
                      <p style="margin: 0;clear: both;font-size: 14px">&#169; 2015 Copyright General Electric Company</p>
                      <span style="font-family: arial, sans-serif;color: #313337">1100 Technology Drive | Billerica, MA 01821-4111</span>
                    </td>
                  </tr>
                </table>
                -->
              </td>
            </tr>
          </table>
        </td>
      </tr></tbody></table></center>

</body>
</html>
