.sticky-container {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 48px;
}
.header-text {
  padding: 24px;
  text-align: center;
  font-family: var(--font-family-subtitle-large);
  font-weight: var(--font-weight-avatar-large);
  font-size: var(--font-size-avatar-large);
  line-height: 26px;
  letter-spacing: 0.1px;
  color: #334541;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
  left: 0px;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

.accordion-toggle,
.accordion-toggle-collapsed {
  font-family: var(--font-family-headline-medium);
  font-weight: var(--font-weight-headline-medium);
  font-size: var(--font-size-subtitle-medium);
  line-height: var(--font-base-line-height-22);
  color: var(--color-base-gray-900);
  cursor: pointer;
}

.accordion-toggle:after {
  font-family: var(--font-base-font-family-icon);
  content: 'expand_more';
  float: right;
}

.accordion-toggle-collapsed:after {
  font-family: var(--font-base-font-family-icon);
  content: 'expand_less';
  float: right;
}

.section-container:first-child {
  padding-top: 28px;
  font-family: var(--font-base-font-family-body);
}

.section-container {
  padding: 25px 75px 25px 75px;
  font-family: var(--font-base-font-family-body);
}
.buycheckout {
  padding-bottom: 176px;
}
.action-error {
  border: 1px solid #fd7c05;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: var(--font-base-font-family-body);
  color: var(--fill-semantic-warning-default, #e87516);
  i.material-icons {
    vertical-align: middle;
    color: var(--fill-semantic-warning-default, #e87516);
    font-size: var(--font-base-font-size-18);
    line-height: 18px;
  }
  strong {
    vertical-align: middle;
    color: var(--fill-semantic-warning-default, #e87516);
    font-size: var(--font-base-font-size-12);
    line-height: 18px;
    padding: 0px 8px;
    font-weight: 400;
  }
}
.loader-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(103, 100, 100, 0.5);
  z-index: 2;
  cursor: pointer;
  padding-top: 75rem;
}
