.view-all {
  margin-left: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #02a783;
}
.view-all-container {
  display: flex;
  gap: 3px;
  cursor: pointer;
}
.view-icon {
  margin-top: -3px;
}
.eng-approval-error-msg {
  margin-left: 18px;
}
