.shipping-chekcout {
  padding: 0px 15px;
}

.row .shipping-checkout {
  font-family: var(--font-family-decorative-medium);
  font-weight: var(--font-weight-headline-large);
  font-size: var(--font-base-font-size-14);
  line-height: var(--font-base-line-height-20);
  color: var(--color-text-common-primary);
}

.row span .shipping-checkouaddress {
  font-family: var(--font-family-body-large);
  font-size: var(--font-base-font-size-14);
  color: var(--color-text-common-primary);
}
