.page-title {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #05322b;
}
.page-description {
  font-family: Noto Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #757575;
}
.color-red {
  color: #e12d39 !important;
}
.content-center {
  text-align: center;
}
.button-align {
  margin-right: 274px;
}

.close-modal {
  position: relative;
  top: -50px;
  cursor: pointer;
}
.center-block {
  margin-left: 300px;
}
.align-items {
  margin-left: 217px;
}
.align-button {
  margin-left: -133px;
}
