.box-container {
  background: var(--color-fill-common-primary);
  min-height: 354px;
  padding: 25px 28px;
  border: 1px solid #eeeeee;
  background-color: var(--color-fill-common-primary);

  top: -140px;
  right: 45px;
  left: 15px;
}
.box-title {
  font-size: var(--font-base-font-size-18);
  font-family: var(--font-family-headline-small);
  font-weight: var(--font-weight-headline-small);
  color: #003525;
}

.bottom-button-wrap {
  //margin-top: 70px;
  margin-left: 0px;
}

.create-rma {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-top: 40px;
  height: 119px;
  background-color: var(--color-fill-common-primary);
}
.box-text-gold {
  color: var(--color-base-gold-700);
  font-size: 16px;
}

.rma-text {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-base-font-size-18);
  line-height: 27px;
  text-transform: uppercase;
  color: #003525;
  padding-top: 24px;
  padding-left: 26px;
}
.icon-text {
  padding-top: 10px;
  font-family: var(--font-family-body-small);
}
.material-icons {
  font-family: 'var(--font-base-font-family-icon)';
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  line-height: 1.1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  color: var(--color-base-teal-500);
}
.not-available {
  font-family: var(--font-family-body-large);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-base-font-size-14);
  line-height: 24px;
  color: #1a2321;
  position: relative;
  top: -10px;
}
.rma-button {
  float: left;
  margin-right: 30px;
  margin-top: -35px;
  padding: 0px 20px;
  text-transform: uppercase;
}
:host::ng-deep {
  .bh-button {
    height: 44px;
    min-width: 150px;
    text-transform: uppercase;
  }
  .create-button .create-rma-button .bh-button {
    height: 44px;
    width: 149px;
    background: var(--color-base-teal-500);
    border-radius: 4px;
  }
  .create-button .create-rma-button span {
    font-family: var(--font-base-font-family-decorative);
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-base-font-size-12);
    line-height: 18px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .bottom-button-wrap .bh-button--small {
    margin-right: 15px;
  }
}
:host::ng-deep {
  .table {
    margin-bottom: 0;
  }
  .bh-button:focus:not(:active):not(:hover) {
    box-shadow: none;
  }
}

.top-margin {
  position: relative;
  top: -23px;
}

.menu-alignment {
  position: relative;
  top: 10px;
}
.customer-files {
  display: flex;
}

@media (resolution: 1.5dppx) {
  .cf-margin {
    width: 100%;
    margin-top: 1%;
  }
}
