<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Digital Solution Store – Inactive User Notification</title>

    <style>
        @font-face {
            font-family: 'Poppins','Lucida Sans';
            src: url('$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/fonts/GEInspiraSans-Regular-v02.woff');
        }
    </style>
</head>


<body style="font-family:'Poppins','Lucida Sans'; font-size: 11pt;width:550px;color: #05322b;border: solid 0.3px #979797;">

    <div class="header">
        <img src="$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/plain-banner.png"  alt="headerImage" />
    </div>


	<div class="emailBody" style="padding:14px 22px 0px 34px;">
		<div class="headerInformation" style="padding-bottom:27px;letter-spacing: -0.4px;">
			<p>Dear ${ctx.userName},</p>
			<p>It seems that you have not logged into the Baker Hughes Digital Solution Store during the past 90 days.</p>
			<p>To keep your account active, simply login to <a href="${ctx.companyEmail}">Digital Solution Store</a> at some time during the next 30 days.</p>
			<br>
			<p>To cancel your access, you can ignore this email, and we will disable your account in 30 days.</p>
			<br>
			<p>
			Where Can I Find Help?
			<ui><li><a href="mailto:${ctx.supportMail}">Send an Email</a></li></ui>
			</p>
			<br><br>
			<p>Best regards,</p>
			<p>Baker Hughes User Registration Support Team</p>
		</div>
	</div>
</body>
</html>