<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Baker Hughes Registrations – Inactive User Notification</title>

    <style>
    
        @font-face {
            font-family: GEInspiraSans;
            src: url('$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/fonts/GEInspiraSans-Regular-v02.woff');
        }
    </style>
</head>


<body style="font-family:GEInspiraSans; font-size: 11pt;width:550px;color: #13294b;border: solid 0.3px #979797;">

    <div class="header">
        <img src="$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/plain-banner.png" border="0" class="img-responsive heightHeader" alt="headerImage"/>
    </div>
    

	<div class="emailBody" style="padding:14px 22px 0px 34px;">
		<div class="headerInformation" style="color: #05322b; font-family: 'Poppins','Lucida Sans'; text-align: left;padding-bottom:27px;letter-spacing: -0.4px;">
		    <h3>F&PT Valv Store Registration Request Approval Needed</h3><br>
		    <h3 style="color:red;">Action Required</h3>
		    <p><b>Requested for:</b> ${ctx.userName}</p>
		    <br><br>
		    <p><b>What Happened?</b></p>
		    <p>A request for F&PT ValvStore Registration was received for ${ctx.userName}. Your review is needed for the following request.</p>
		    <br>
		    <p>
		    Please click below to take action:<br>
		    <a href="${ctx.accessRequest}"><img src="$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/clickButton.png" alt="Open Access Request" /></a>
		    </p>
		    
		    <br><br>
		    <p>This request is assigned to 
		    #foreach($entry in $ctx.toAddresses) 
		    &nbsp; $entry 
		    #end 
		    distribution list.
		    </p>
			<p>
			Where Can I Find Help?
			<ui><li><a href="mailto:${ctx.supportMail}">Send an Email</a></li></ui>
			</p>
			<br><br>
			<p>Best regards,</p>
			<p>F&PT ValvStore Support Team</p>
		</div>
	</div>


</body>
</html>
