<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Digital Solutions Store – Inactive User Notification</title>

    <style>
    * {
	color: #05322b; 
	font-family: 'Poppins','Lucida Sans'; 
	text-align: left;
   }
        @font-face {
            font-family: GEInspiraSans;
            src: url('$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/fonts/GEInspiraSans-Regular-v02.woff');
        }
    </style>
</head>


<body style="font-family:GEInspiraSans; font-size: 11pt;width:550px;color: #13294b;border: solid 0.3px #979797;">

    <div class="header">
        <img src="${ctx.mediaBaseUrl}/_ui/responsive/theme-lambda/images/plain-banner.png" alt="headerImage" />
    </div>
    

	<div class="emailBody" style="padding:14px 22px 0px 34px;">
		<div class="headerInformation" style="padding-bottom:27px;letter-spacing: -0.4px;">
		    <p>Dear ${ctx.requestorName},</p>
		    <p>Recently your access level has been updated & below is the updated status : 
		    <br>
		   	 <p><b>Approved Access Level :</b> <br>${ctx.approvedAccessList}</p>
			<br>
			<p>Best regards,</p>
			<p>Baker Hughes User Support Team</p>
		</div>
	</div>

</body>
</html>
