## messageSource=classpath:/bhgecore/messages/email-loadReactivation_$lang.properties
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Digital Solutions Store – Inactive User Notification</title>

    <style>
        @font-face {
            font-family: GEInspiraSans;
            src: url('$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/fonts/GEInspiraSans-Regular-v02.woff');
        }
    </style>
</head>


<body style="font-family:GEInspiraSans; font-size: 11pt;width:550px;color: #13294b;border: solid 0.3px #979797;">

    <div class="header">
        <img src="$ctx.bhgeBasePath/assets/_ui/responsive/theme-lambda/images/plain-banner.png" border="0" class="img-responsive heightHeader" width="1024"/>
    </div>


	<div class="emailBody" style="padding:14px 22px 0px 34px;">
		<div class="headerInformation" style="padding-bottom:27px;letter-spacing: -0.4px;">
		    <p class="text p" style="display: block; margin: 14px 0; line-height: 20px; color: #05322b; font-family: 'Poppins','Lucida Sans'; font-size: 14px; text-align: left;">${ctx.messages.dear} ${ctx.userName},</p>
		     <p class="text p" style="display: block; margin: 14px 0; line-height: 20px; color: #05322b; font-family: 'Poppins','Lucida Sans'; font-size: 14px; text-align: left;">${ctx.messages.requestreceived}.</p>
		    <br>
		     <p class="text p" style="display: block; margin: 14px 0; line-height: 20px; color: #05322b; font-family: 'Poppins','Lucida Sans'; font-size: 14px; text-align: left;">${ctx.messages.userId}: <b>${ctx.sso}</b>.</p>
		    <br>
		   	 <p class="text p" style="display: block; margin: 14px 0; line-height: 20px; color: #05322b; font-family: 'Poppins','Lucida Sans'; font-size: 14px; text-align: left;">${ctx.messages.please} <a href="${ctx.url}">${ctx.messages.clickHere}</a> ${ctx.messages.reactivate}.</p>

		    <br>
			 <p class="text p" style="display: block; margin: 14px 0; line-height: 20px; color: #05322b; font-family: 'Poppins','Lucida Sans'; font-size: 14px; text-align: left;">
			${ctx.messages.findHelp}?
			<ui><li><a href="mailto:${ctx.supportMail}">${ctx.messages.sendRequest}</a></li></ui>
			</p>
			<br><br>
			 <p class="text p" style="display: block; margin: 14px 0; line-height: 20px; color: #05322b; font-family: 'Poppins','Lucida Sans'; font-size: 14px; text-align: left;">${ctx.messages.regards},</p>
			 <p class="text p" style="display: block; margin: 14px 0; line-height: 20px; color: #05322b; font-family: 'Poppins','Lucida Sans'; font-size: 14px; text-align: left;">${ctx.messages.dSStore}</p>
		</div>
	</div>
 </body>
</html>
