<div class="d-flex justify-content-center box-margin-lr">
  <label class="wt-hq-heading">{{ 'waygate.waygateHQ' | cxTranslate }}</label>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label class="wt-hq-label">{{
        'waygate.waygateHQLeftPara1' | cxTranslate
      }}</label
      ><br />
      <label class="wt-hq-label">{{
        'waygate.waygateHQLeftPara2' | cxTranslate
      }}</label>
    </div>
    <div class="col-md-6">
      <label class="wt-hq-label">{{
        'waygate.waygateHQRightpara1' | cxTranslate
      }}</label
      ><br />
      <label class="wt-hq-label-left"
        >{{ 'waygate.waygateHQRightpara2' | cxTranslate }}
      </label>
      <label class="wt-hq-label-left" [innerHTML]="'waygate.waygateHQFullText' | cxTranslate"></label>
    </div>
  </div>
  <div class="wt-hq-sub">
    <div class="row no-gutters" style="height: 122px">
      <div class="col-md-3 wt-hq-border-right">
        <div class="wt-hq-prod">
          <img
            class="wt-hq-prod-img"
            src="../../../../../assets/img/genuine-prod.svg"
          /><br />
          <label class="wt-hq-prod-label">{{
            'waygate.genuineProducts' | cxTranslate
          }}</label>
        </div>
      </div>
      <div class="col-md-3 wt-hq-border-right">
        <div class="wt-hq-prod">
          <img
            class="wt-hq-prod-img"
            src="../../../../../assets/img/ontime-delivery.svg"
          /><br />
          <label class="wt-hq-prod-label">{{
            'waygate.ontimeDelivery' | cxTranslate
          }}</label>
        </div>
      </div>
      <div class="col-md-3 wt-hq-border-right">
        <div class="wt-hq-prod">
          <img
            class="wt-hq-prod-img"
            src="../../../../../assets/img/secured-trans.svg"
          /><br />
          <label class="wt-hq-prod-label">{{
            'waygate.secureTransaction' | cxTranslate
          }}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wt-hq-prod">
          <img
            class="wt-hq-prod-img"
            src="../../../../../assets/img/customer-support.svg"
          /><br />
          <label class="wt-hq-prod-label">{{
            'waygate.customerSupport' | cxTranslate
          }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
