.box-margin-lr {
  margin-left: auto;
  margin-right: auto;
}
.wt-hq-para {
  width: 90%;
  margin-top: 20px;
}
.wt-hq-heading {
  padding-top: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #1f1f1f;
}
.wt-hq-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #595959;
}
.wt-hq-label-left {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #717171;
}
.wt-hq-label-a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #02a783;
}
.wt-hq-sub {
  width: 80%;
  margin: 30px auto 30px auto;
}
.wt-hq-border-right {
  border-right: 1px solid #ced7d4;
}
.wt-hq-prod {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wt-hq-prod-img {
  height: 36px;
  width: 36px;
}
.wt-hq-prod-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #595959;
}
