.share-order-space {
  width: 623px;
  height: 338px;
  background-color: #F3F3F3;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .share-order-title{
    background-color: #147D64;
    padding: 20px 0px 0px 20px;
    height: 64px;
    display: flex;
    gap: 470px;
    h2{
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 600;
    }
    .material-icons{
      cursor: pointer;
      color: #FFFFFF;
    }
  }
  .share-order {
    padding: 20px;
    background-color: #FFFFFF;
    height: 198px;
    p{
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      color: #121212;
    }
    .emailText{
      font-family: poppins;
      p{
        font-size: 12px;
        font-weight: 500px;
        margin-bottom: 5px;
      }
      .emailText input {
        width: 100%;
        border: 1px solid;
        border-color: var(--color-border-form-default);
        height: 35px;
        margin-bottom: 15px;
      }
    }
    .customeBtn {
      display: flex;
      float: right;
    }
    .bh-button__container {
      margin-right: 15px;
      margin-top: 60px;
    }
    .bh-button.motion--normal.bh-button--type-secondary
      .typography--button-link-medium {
      font-weight: var(--font-weight-button-link-medium);
    }
    .bh-button.motion--normal.bh-button--type-secondary {
      height: 36px;
    }
    .form-control:focus,
    input:focus {
      outline: none;
    }
    .bh-button.motion--normal.bh-button--type-secondary {
      height: 36x;
    }
  }
}
:host::ng-deep {
  .bh-text-input__input {
    width: 100%;
  }
  .bh-button--type-secondary {
    height: 36px !important;
  }
}