.logggedin-home {
  margin: 0 50px 50px 50px;
}

.sub-card {
  padding: 10px;
}
.col-md-6 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.order-track-dashboard {
  .column-left {
    margin-bottom: 40px;
  }
  .column-right {
    margin-top: 40px;
  }
}
