.modal-header {
  padding: 1.25rem !important;
  background-color: #147d64;
  height: 80px;
  color: white;
  border-radius: 4px 4px 0px 0px;
  .material-icons {
    color: white !important;
    position: relative;
    top: 10px;
  }
}

.cx-modal-content {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}
.cx-modal-container {
  overflow-y: initial !important;
  max-width: 623px !important;
  min-width: 623px !important;
}
.have-a-question-title {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  position: relative;
  left: 10px;
  top: 15px;
}
.cx-modal-body {
  //overflow-y: auto;
  background-color: white;
}
.product-contact-label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #121212;
}
.form-control::placeholder {
  color: #595959;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.config-product-name {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #121212;
}
.customer-query-field-error {
  width: calc(100% - 120px);
  display: inline-block;
  font-size: var(--font-base-font-size-12);
  color: #e12d39;
  height: 36px;
  line-height: 15px;
  margin-top: 10px;
}
.attachment-label {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.25px;
  text-align: left;
}
.action-links {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: right;
  cursor: pointer;
}
.config-product-desc {
  color: red;
}
.product-contact-number {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #595959;
}

/* .upload-all-files {
    display: flex;
    flex-wrap: wrap;
  }
  .file-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  } */
.additional-attachment-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.fileformat {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #595959;
}

.file-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.cx-dialog-actions {
  background-color: #f3f3f3;
  width: 623px;
  height: 76px !important;
  border-radius: 0px 0px 4px 4px;
  .cx-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 20px;
    margin: 15px;
    position: relative;
    top: 14px;

    a.bh-button--type-primary {
      font-weight: bold;

      &:hover {
        color: var(--color-text-common-inverse-primary);
        text-decoration: none;
      }
    }

    a.bh-button--type-secondary {
      font-weight: bold;
      color: var(--color-text-common-primary);
      background-color: var(--color-fill-cta-secondary-default);
      border-width: var(--effect-border-width-regular);
      border-color: var(--color-border-cta-secondary-default);
      border-style: solid;
      &:hover {
        color: var(--color-text-common-primary);
        text-decoration: none;
      }
    }
  }
}

a.disable {
  color: (--color-fill-cta-disabled);
  background-color: var(--color-fill-cta-disabled);
  cursor: not-allowed;
  pointer-events: none;
}
.upload-all-files {
  display: flex;
  flex-wrap: wrap;
}

.fileformat {
  font-family: var(--font-family-body-large);
  font-size: var(--font-size-body-small);
  font-weight: var(--font-weight-title-small);
  line-height: var(--font-line-height-avatar-xsmall);
  letter-spacing: 0.25px;
  color: var(--color-text-link-tertiary-default);
}

.file-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
