.entry-item-row {
  height: 100%;
  .cx-product-image {
    width: 120px;
  }
  .product-desc-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
  }
}

.cx-dialog-buttons {
  a.bh-button--type-primary {
    text-transform: capitalize;
    &:hover {
      color: var(--color-text-common-inverse-primary);
      text-decoration: none;
    }
  }
  a.bh-button--type-secondary {
    text-transform: capitalize;
    &:hover {
      color: var(--color-text-common-primary);
      text-decoration: none;
    }
  }
}
.cx-dialog-row {
  display: flex;
  gap: 10px;
  .cx-dialog-buttons {
    display: flex;
    flex-direction: column;
  }
}
