.container {
  p {
    font-family: var(--font-family-body-large);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-base-font-size-18);
    line-height: 20px;
    margin-top: 130px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #757575;
  }
}
