@import '../../../../../styles/responsive_mixins.scss';

.waygate-product-list-card {
  width: 725px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Poppins;
  display: flex;
  justify-content: space-between;

  .waygate-cart-checkbox {
    width: 32px;
    height: 24px;
    gap: 8px;
    opacity: 0px;

    input[type='checkbox'] {
      height: 18px;
      width: 18px;
    }

    input[type='checkbox']:checked {
      accent-color: #02a783;
    }

    @include media-lg-max {
      display: table-cell;
    }
  }

  .waygate-product-image {
    border: 1px solid #ced7d4;
    width: 146px;
    height: 150px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    img {
      width: 100%;
    }
    .product-image {
      width: 120px;
      height: 115px;
      margin: 16px 12px 16px 12px;
    }
  }

  .product-open {
    transition: height 1s ease;
    animation-name: open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .product-close {
    transition: height 1s ease;
    animation-name: close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .product-fnct {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .product-edit {
      flex: 1;
      padding-left: 10%;
    }
    .error-repeatRma span {
      color: #e12d39;
    }
    .product-remove {
      .material-icons-outlined,
      .action-links {
        color: #595959;
      }
    }

    .material-icons-outlined {
      position: relative;
      top: 5px;
      font-size: 18px;
      color: var(--cx-color-primary);
    }

    .action-links {
      font-family: Poppins;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0px;
      color: var(--cx-color-primary);
    }
  }

  .waygate-product-content {
    width: 500px;
    height: 100%;
    gap: 12px;
    opacity: 0px;

    .product-text {
      flex-direction: column;
      display: flex;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.25px;
      text-align: left;
      color: #121212;
    }
  }

  .product-price {
    display: flex;
    justify-content: space-between;
  }

  .price-container {
    border: 1px dashed #ced7d4;
    background: #ffffff;
    width: 122px;
    height: 36px;
    gap: 12px;
    border-radius: 4px;
    padding: 8px 12px;
  }

  .price-label {
    font-family: Poppins;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
  }

  .price-values {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    vertical-align: middle;
  }

  .product-offering {
    display: flex;
    flex-direction: column;

    .offering-header {
      font-family: Poppins;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0px;
      vertical-align: middle;
    }

    .offering-value {
      font-family: Poppins;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.25px;
      vertical-align: middle;
    }
  }
  @include media-lg-xl {
    width: 680px;
  }
}

.product-description--header {
  background: #f8faf9;
  height: 39px;
  padding: 10px;
  margin-top: -1.8%;

  .product-description--header-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #595959;
  }
}
