@import '../../../../../../styles/responsive_mixins.scss';

.waygate-cart-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 0rem;

  .waygate-cart-item-list {
    display: flex;
    flex-direction: column;
    width: 725px;

    .horizontal-line {
      border: 1px solid #f0f0f0;
      margin: 0px;
    }

    .waygate-endcustomer-address {
      width: 725px;

      @include media-sm-max {
        width: 360px;
      }
      @include media-md-max {
        width: 380px;
      }
      @include media-lg-xl {
        width: 535px;
      }
    }

    .waygate-cart-selectall-checkbox {
      width: 725px;
      margin-top: 3rem;

      .waygate-cart-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .selectall-checkbox {
          display: flex;

          input[type='checkbox'] {
            height: 18px;
            width: 18px;
          }

          input[type='checkbox']:checked {
            accent-color: #02a783;
          }

          .total-line-items {
            font-size: 14px;
            font-weight: 400;
            color: #121212;
            margin-left: 3.5rem;
          }
        }

        .product-remove {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          color: #595959;

          .action-links {
            font-family: var(--font-base-font-family-body);
            font-style: normal;
            font-weight: normal;
            font-size: var(--font-base-font-size-12);
            line-height: 24px;
            text-align: right;
            letter-spacing: 0.1px;
            cursor: pointer;
            text-decoration: none;
            color: #595959;
          }

          .material-icons-outlined {
            position: relative;
            top: 5px;
            font-size: 18px;
          }

          @include media-lg-max {
            display: flex;
          }
        }
      }

      @include media-lg-max {
        width: 100%;
      }

      @include media-lg-xl {
        width: 530px;
      }
    }

    .waygate-cart-body {
      .nonFilmProduct-container {
        margin: 5rem 0rem 2rem 0rem;

        .film-prod {
          color: #121212;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: -0.25px;
          text-align: left;
        }
      }

      .filmProduct-container {
        margin: 2rem 0rem;

        .film-prod {
          color: #121212;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: -0.25px;
          text-align: left;
        }
      }

    }

    @include media-sm-max {
      width: 360px;
    }
    @include media-sm-md {
      width: 700px !important;
    }
    @include media-md-lg {
      width: 380px;
    }
  }

  .waygate-cart-summary {
    width: 350px;

    @include media-lg-max {
      width: 100%;
    }

    @include media-sm-lg {
      align-items: center;
    }

    @include media-lg-xl {
      margin-left: -20%;
    }

    @include media-md-lg {
      padding-left: 10px;
    }
  }

  @include media-md-max {
    flex-direction: column;
  }

}

#btnScrollToTop {
  position: fixed;
  top: 84%;
  left: 70%;
  z-index: 99;
  background-color: #EBEFEE;
  color: #121212;
  padding: 5px;
  border-radius: 44px;
  font-weight: 600;
  font-size: 14px;
  display: none;

  @include media-md-max {
    display: block;
  }

  @include media-sm-md {
    left: 85%;
  }
}

#btnScrollToBottom {
  position: fixed;
  top: 90%;
  left: 60%;
  z-index: 99;
  background-color: #EBEFEE;
  color: #121212;
  padding: 5px;
  border-radius: 44px;
  font-weight: 600;
  font-size: 14px;
  display: none;

  @include media-md-max {
    display: block;
  }

  @include media-sm-md {
    left: 79%;
  }
}